@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

@layer base {
  body {
    @apply text-sky-500 bg-sky-100 p-8;
  }
  h1 {
    @apply text-2xl text-center;
  }
  h2 {
    @apply text-xl;
  }
  button {
    @apply transition;
  }
  section {
    @apply  w-11/12 sm:w-4/5;
  }
}
