@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

@layer base {
  body {
    @apply text-sky-500 bg-sky-100 pb-8;
  }
  h1 {
    @apply text-2xl p-8 flex items-center justify-center gap-2;
  }
  h2 {
    @apply text-xl flex items-center gap-2;
  }
  button {
    @apply transition;
  }
  
  section {
    @apply w-11/12 sm:w-5/6 rounded-xl p-4 flex flex-col items-center bg-white m-auto;
  }
  input, textarea {
    @apply bg-slate-100 shadow rounded p-2 text-slate-500
  }
  a {
    @apply transition
  }
}
